.title {
  outline: 2px solid white;
  display: flex;
  background-color: rgb(239, 189, 96);
}

img {
  height: 1.3rem;
}

.menu {
  position: relative;
  display: flex;
  gap: 1rem;
  /* outline: 2px solid gray; */
}

.menu-items {
  /* outline: 2px solid gray; */
  position: relative;
  margin: 0vh 1vw;
}

.menu-items:hover {
  background-color: lightblue;
}

.menu-items-options {
  background-color: white;
  position: absolute;
  list-style: none;
  /* outline: 2px solid gray; */
  display: inline-block;
  margin-left: -3rem;
  margin-top: 1.23rem;
  /* background-color: aqua; */
  color: black;
  display: none;
}

.menu-items:hover .menu-items-options {
  display: inline-block;
}

.menu-items-options > li {
  border: 2px solid gray;
}

main {
  top: 2.4rem;
  outline: 2px solid orange;
  height: calc(100vh - 4.3rem - 18.4px);
  color: white;
  background-color: black;
}

footer {
  position: fixed;
  bottom: 3rem;
  /* background-color: blueviolet; */
  display: block;
  width: 100%;
  bottom: 0rem;
  height: 2.6rem;
  /* outline: 2px solid gray; */
}
